extends layout

block content
  h1 Books
  p 
    a.button(href="/books/new") Create New Book 

  form(method="get" action="/books")
    p 
      label(for="search") Search: 
      input(name="search" type="text" id="search" value=search placeholder="Search books...")
      input(type="submit" value="Search")
      if search 
        | 
        a.button(href="/books") Show All

  table 
    thead 
      tr 
        th Title 
        th Author 
        th Genre 
        th Year 
    tbody 
      each book in books 
        tr
          td 
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}

  if totalPages > 1
    p 
      if currentPage > 1
        - var prevPage = currentPage - 1
        if search
          a.button(href=`/books?page=${prevPage}&search=${search}`) Previous 
        else
          a.button(href=`/books?page=${prevPage}`) Previous 
      |     
      span Page #{currentPage} of #{totalPages} Total Pages
      | 
      if currentPage < totalPages 
        - var nextPage = currentPage + 1
        if search 
          a.button(href=`/books?page=${nextPage}&search=${search}`) Next 
        else 
          a.button(href=`/books?page=${nextPage}`) Next